<!-- <app-spinner [visible]="loading"></app-spinner> -->
<div class="col-12">
  <form [formGroup]="formAdministrador">
    <div class="m-3 d-flex justify-content-between align-items-center">
      <h4 class="mr-auto">{{ titulo }}</h4>
      <button mat-icon-button mat-dialog-close class="close-button">
        <mat-icon aria-label="Cerrar">close</mat-icon>
      </button>
    </div>
    
    <mat-divider></mat-divider>

    <mat-dialog-content>
      <div class="row m-2 ">
        <div class="col-md-6 col-lg-6 ">
          <mat-form-field class="full-width">
            <mat-label>Departamento</mat-label>
            <mat-select formControlName="idDepartamento">
              <mat-option *ngFor="let departamento of departamentos" [value]="departamento.id">
                {{ departamento.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
 
        <div class="col-md-6 col-lg-6 ">
          <mat-form-field class="full-width">
            <mat-label>Cargo</mat-label>
            <mat-select formControlName="idCargo">
              <mat-option *ngFor="let cargo of cargos" [value]="cargo.id">
                {{ cargo.nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
 
        <div class="col-md-6 col-lg-6 my-2">
          <mat-label>Usuario:</mat-label>
          <input
          class="form-control"
          type="text"    
          formControlName="usuario"
          aria-label="default input example"
          >
        </div>
        <div class="col-md-6 col-lg-6 my-2">
          <mat-label>Email:</mat-label>
          <input
          class="form-control"
          type="text"    
          formControlName="email"
          aria-label="default input example"
          >
        </div>
          <div class="col-md-6 col-lg-6">
            <mat-label>Primer Nombre:</mat-label>
            <input
            class="form-control"
            type="text"    
            formControlName="primerNombre"
            aria-label="default input example"
            >
          </div>
          <div class="col-md-6 col-lg-6">
            <mat-label>Segundo Nombre:</mat-label>
            <input
            class="form-control"
            type="text"    
            formControlName="segundoNombre"
            aria-label="default input example"
            >
          </div>
          <div class="col-md-6 col-lg-6 my-3">
            <mat-label>Primer Apellido:</mat-label>
            <input
            class="form-control"
            type="text"    
            formControlName="primerApellido"
            aria-label="default input example"
            >
          </div>
          <div class="col-md-6 col-lg-6 my-3">
            <mat-label>Segundo Apellido:</mat-label>
            <input
            class="form-control"
            type="text"    
            formControlName="segundoApellido"
            aria-label="default input example"
            >
          </div>
         
      </div>
    </mat-dialog-content>
    <mat-divider></mat-divider>
    <mat-dialog-actions align="end">
      <div class="justify-content-end actions gap-1">
        <button [disabled]="!formAdministrador.valid" *ngIf="data.data" mat-flat-button class="primary-button" (click)="update()" textContent="asd">Actualizar</button>
        <button [disabled]="!formAdministrador.valid" *ngIf="!data.data" mat-flat-button class="primary-button" (click)="create()" textContent="asd">Guardar</button>
         <button (click)="close()" mat-raised-button class="primary-button" >Cancelar</button>
      </div>
    </mat-dialog-actions>
 
</form>
</div>
 
 
 